body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    margin: 0;
}

body > div {
    height: 100vh;
}

.header {
  background-color: black;
  color: white;
  padding: 30px;
}

.nav {
  padding: 10px 0;
  background-color: gray;
}


ul {
  list-style: none;
  margin: 0;
}

li {
  display: inline-block;
  padding: 0 10px;
}

.h3-text {
  margin: 50px 0;
}

.footer {
  width: 100%;
  background-color: gray;
  margin-top: 20px;
}

.product-text {
  text-align: justify;
}

input[type="text"], textarea {
  margin: 0 0 15px 0;
}

label {
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: .85em;
}

textarea {
  width: 400px;
  height: 50px;
}

form {
  padding: 0 0 20px 0;
}

input[type="submit"], button {
  margin: 10px;
  background-color: white;
  color: black;
  border: 1px solid black;
}

input[type="submit"]:hover, button:hover {
  margin: 10px;
  background-color: black;
  color: white;
  border: 1px solid black;
}